@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
header{
  display: flex;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(ginger.jpg) ;
  background-size: cover;
  height: 100vh;
  flex-flow: column nowrap;
align-items: center;
justify-content: center;

}
.img{border-radius: 100%;
  z-index: -1;}

.img:hover{filter: blur(2px);
  -webkit-transform: scale(1.2);
    transform: scale(1.2);}

.zeger{position: relative;
  overflow: hidden;
  border-radius: 100%}

.age{display:none;
  position: absolute;
top: 25%;
left:40%;
visibility: hidden;
font-size: 25px;
color:white;}

.zeger:hover .age{display: block;
visibility:visible;}

.quote  {color:#D3D3D3;}
.name{color:#D3D3D3;}

 th, td{color:#D3D3D3;
border: solid;
border-bottom: none;
border-top: none}

table{border-collapse: collapse;
border: solid;
color: #D3D3D3;}

td:first-letter{font-weight: bold;}

tr:nth-child(odd){background-color: red}
tr:nth-child(odd) td:hover{background-color: darkred}
tr:nth-child(even){background-color: blue}
tr:nth-child(even) td:hover{background-color: darkblue}

footer{height: 150px;

align-items: center;
display: flex;
justify-content: center;
}
ul{display: flex;
justify-content: space-between;
width: 400px;
border-left: solid;
border-right: solid;
list-style: none;}

body {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: normal;
}
i:hover{color: red}
