

header{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: blue;
	height: 100vh
  }
  body{
    font-size: 20px;
  }
img{
  width: 60px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.board{
  display: grid;
  grid-template-columns: 80px 640px 80px;
  grid-template-rows:80px 640px 80px;
}

.container{
  background: url(tile.png);
  background-repeat: repeat;
  background-size: 160px 160px;
  height: 640px;
  width: 640px;
  display:grid;
  grid-template-columns:repeat(8,80px) ;
  grid-template-rows: repeat(8,80px);
  grid-column: 2;
  grid-row: 2;
  grid-template-areas:
"A8 B8 C8 D8 E8 F8 G8 H8"
"A7 B7 C7 D7 E7 F7 G7 H7"
"A6 B6 C6 D6 E6 F6 G6 H6"
"A5 B5 C5 D5 E5 F5 G5 H5"
"A4 B4 C4 D4 E4 F4 G4 H4"
"A3 B3 C3 D3 E3 F3 G3 H3"
"A2 B2 C2 D2 E2 F2 G2 H2"
"A1 B1 C1 D1 E1 F1 G1 H1";
}
.letterstop{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
}
.lettersbot{
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  background-color: brown;
}
.left{
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
}
.right{
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
}
#ztoren1{grid-area: A5}
#zpaard1{grid-area:B8}
#zloper1{grid-area: C8}
#zkoningin{grid-area: D8}
#zkoning{grid-area: E8}
#zloper2{grid-area: F8}
#zpaard2{grid-area: G8}
#ztoren2{grid-area: H8}
#zpion1{grid-area: A7}
#zpion2{grid-area: B7}
#zpion3{grid-area: C7}
#zpion4{grid-area: D7}
#zpion5{grid-area: E7}
#zpion6{grid-area: F7}
#zpion7{grid-area: G7}
#zpion8{grid-area: H7}

#wtoren1{grid-area: A1}
#wpaard1{grid-area:B1}
#wloper1{grid-area: C1}
#wkoning{grid-area: D1}
#wkoningin{grid-area: E1}
#wloper2{grid-area: F1}
#wpaard2{grid-area: G1}
#wtoren2{grid-area: H1}
#wpion1{grid-area: A2}
#wpion2{grid-area: B2}
#wpion3{grid-area: C2}
#wpion4{grid-area: D2}
#wpion5{grid-area: E2}
#wpion6{grid-area: F2}
#wpion7{grid-area: G2}
#wpion8{grid-area: H2}

.nick{
  background-image: url(nick.png);
  background-size: cover;
  grid-row: 3;
  grid-column: 3;
  opacity: 0.0
}
.nick:hover{opacity: 1}
