[Desktop Entry]
Encoding=UTF-8
Name=Verwijzing naar https://contattafiles.s3.us-west-1.amazonaws.com/tnt14094/W8mVLdKbxCazMgQ/stats.png
Type=Link
URL=https://contattafiles.s3.us-west-1.amazonaws.com/tnt14094/W8mVLdKbxCazMgQ/stats.png
Icon=image-png
