table, th, td {border: 1px solid black;
    padding: 10px;
    text-align: left;}

table {border-collapse:collapse;
        width: 30%;}

body{background-color: lightgray}

.mark {background-color: white}

img{height: 150px;
width: 200px}
