header{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: purple;
  height: 100vh;
}

.mine{
  display:flex;
  flex-wrap:wrap;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid gray;
  border-bottom: 10px solid gray;
  width:336px;
  height:336px;
  box-shadow: 50px 50px 50px black;
}

div{
  height:40px;
  width:40px;
  background-color: lightgrey;
  border:1px dotted black;
  margin: 0 0 0 0;
  }

.bomb{
  background-image: url(bomb.png) ;
  background-size: cover;
}

.t{color: blue}
.r{color: green}
.e{color: red}

.box{
  border:1px solid;
  box-shadow: inset 3px 3px white,inset -3px -3px gray;
    }

span{
  opacity: 0.0;
    }
.box:hover > span {
  opacity:1 ;
  }

.bom{
  width: 40px;
  height: 40px;
}

body{
  font-size: 35px;
  text-align: center;
  }
